@font-face {
    font-family: Delicious;
    src: url('Delicious-Roman.otf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('Delicious-Bold.otf');
}

.container {
    max-width: 73%;
    margin-top: 133px;
    color: #405377;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}



.input-group {
    width: 33.072916666vw;
}

.no-rounding {
    border-radius: 0;
}

.border-only-bottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.border-only-bottom:focus {
    box-shadow: 0 2px 2px -2px #405377;
}

#logo {
    max-width: 150px;
    max-height: 150px;
}

a {
    color: #405377;
}
.jumbotron{
    -moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.16);
    -khtml-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.16);
}
.jumbotron > h1{
    font-size: 3.375rem;
}
.jumbotron > p{
    max-width: 75%;
    font-size: 2rem;
}
.jumbotron h5{
    font-size: 1.75rem;
}
.catalog h1{
    font-size: 2.25rem;
}
.catalog h2{
    font-size: 1.5rem;
}
.card{
    border: none;
}
.card-img-top{
    min-width: 300px;
    min-height: 346px;
    object-fit: cover;
}
.like{
    max-width: 30px;
    max-height: 30px;
}
.like:hover{
    display: hidden;
    background-image: url("/images/likeHover.png");
    background-size: cover;
}

footer .container {
    color: white !important;
}