/* Global */

.ui-autocomplete {
    z-index: 9999;
}

a {
    color: #405377;
}

a:hover {
    color: #273A5E !important;
}

h1 {
    color: #405377;
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

footer {
    background-color: #405377;
    color: white;
}

footer a {
    color: white;
}

.card:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.like {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url("/images/like.png");
    background-color:white; 
}
.liked{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url("/images/likeHover.png");
    background-color:white; 
}

.like:hover {
    background-image: url("/images/likeHover.png");
    background-size: cover;
}
.liked:hover {
    background-image: url("/images/like.png");
    background-size: cover;
}
.like-form{
    position:relative;
    top: -3rem;
    right: -85%;
    z-index: 10;
    overflow: hidden;
}

.opacity50 {
    opacity: 0.5;
}

.height100 {
    height: 100%;
}

.ui-menu {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.ui-widget.ui-widget-content {
    border: 0;
}

#auth, #category, #announcement, #dashboard, #puppy, #edit_user {
    margin-top: 7rem !important;
}
@media (max-width:1199px){
    .like-form{
        position:relative;
        right: -80%;
    }
}
@media (max-width:991px){
    .like-form{
        position:relative;
        right: -77.5%;
    }
}

@media (max-width: 767px) {
    .card {
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    }
    .like-form{
        position:relative;
        width: 30px;
        height: 30px;
        right: -85%;
    }
        
}

@media (max-width: 575px) {
    #auth, #category, #announcement, #dashboard, #puppy {
        margin-top: 5rem !important;
    }
}

/* Utilities */

.box-shadow {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.no-border {
    border: 0 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.text-primary {
    color: #405377 !important;
}

.text-underline {
    text-decoration: underline;
}

.text-shadow {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

/* Navigation bar */

.navbar-brand img {
    max-width: 12.5%;
}

.navbar-light a.navbar-brand {
    color: #405377;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-link.nav-link-main {
    color: #405377;
    font-weight: 700;
}

.search-icon {
    color: #405377;
    font-size: 1.25rem;
}

.search-box {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #405377;
    border-radius: 0;
}

.search-box::placeholder {
    color: #405377;
}

#navigation-bar input.btn {
    border-radius: 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#navigation-bar input.btn.btn-primary {
    border: 3px solid #405377;
    background-color: #405377;
}

#navigation-bar input.btn.btn-primary:hover {
    border: 3px solid #273A5E;
    background-color: #273A5E;
}

@media (max-width: 990px) {
    #search-icon {
        display: none;
    }
}

@media (max-width: 767px) {
    @media (max-width: 575px) {
        .navbar {
            display: block;
        }

        .navbar-brand {
            display: inline;
        }

        @media (max-width: 430px) {
            .navbar-toggler {
                margin-top: 0 !important;
            }
        }
    }
}

/* Index */

#index-header input.btn {
    border-radius: 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#index-header input.btn.btn-primary {
    border: 3px solid #405377;
    background-color: #405377;
}

#index-header input.btn.btn-primary:hover {
    border: 3px solid #273A5E;
    background-color: #273A5E;
}

#logo {
    max-width: 150px;
    max-height: 150px;
}

#hero, #hero a {
    color: white;
}

#hero a:hover {
    color: white !important;
}

.hero-background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-description {
    font-size: 1.5rem;
    font-weight: 400;
}

#catalog {
    margin: 5rem 0;
}

.catalog h1 {
    font-size: 1.75rem;
}

.catalog h2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.catalog-card a {
    text-decoration: none;
}

.catalog-card a:hover {
    color: #405377;
}

#index-nav {
    display: none !important;
}

@media (max-width: 991px) {
    #index-header {
        display: none !important;
    }

    #index-nav {
        display: block !important;
    }

    #category-navigation {
        margin-top: 7rem !important;
    }
}

@media (max-width: 767px) {
    #category-navigation {
        justify-content: flex-start !important;
    }

    .scrolling-wrapper {
        overflow: auto;
        white-space: nowrap;
    }

    ::-webkit-scrollbar {
        width: 0px;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }

    @media (max-width: 535px) {
        #index-nav .navbar-brand {
            display: inline;
        }

        @media (max-width: 430px) {
            #index-nav .navbar-toggler {
                margin-top: 0 !important;
            }

            #category-navigation {
                margin-top: 5rem !important;
            }

            @media (max-width: 324px) {
                body {
                    min-width: 324px !important;
                }
            }
        }
    }
}

/* Category */

#category-header h1 {
    color: #405377;
}

label[for="itemsPerPage"] {
    color: #405377;
}

select[name="itemsPerPage"] {
    background-color: white;
    color: #405377;
    font-weight: 600;
    padding: 10px 50px;
}

#sort-group {
    text-align: end;
}

.sorting > img {
    opacity: 0.3;
    max-width: 25%;
    height: auto;
}

.sorting h4 {
    color: #405377;
    font-size: 1rem;
    font-weight: 600;
}

.sorting div a img {
    max-width: 50%;
}

#category-filter h3 {
    color: #405377;
}

#category select::-ms-expand {
    display: none;
}

#category select {
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

#category .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    padding: 10px;
    display: block;
}

.date-img {
    max-width: 30px;
}

#category input[name="date"] {
    color: #405377;
    background-color: white;
}

#category input[type=date]::-webkit-inner-spin-button, #category input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#category .page-item.active .page-link {
    background: #405377;
    color: white !important;
    border-color: #405377;
}

.puppy-card-like{
    position: relative;
    right: -80%;
}

input[type=date] {
    width: 75%;
}
@media (max-width: 1199px) {
    input[type=date] {
        width: 75%;
    }

    @media (max-width: 991px) {
        #sort-group {
            margin-top: 1.5rem;
        }
        .puppy-card-like{
            right: -72.5%;
        }

        @media (max-width: 767px) {
            #sort-group {
                text-align: start;
            }

            .sub-cat {
                display: none;
            }

            .filter {
                display: none;
            }

            #FROM-date {
                width: 100%;
            }

            #TO-date {
                width: 100%;
            }

            .page-number {
                display: none;
            }
            div.catalog-card {
                margin-bottom: 3rem !important;
            }
            .puppy-card-like{
                right: -90%;
            }

            @media (max-width: 575px) {

                @media (max-width: 461px) {
                    label[for=itemsPerPage] {
                        display: block !important;
                    }
                }
            }

        }
    }
}

/* Authentication Page */

#auth button.btn, #auth a.btn {
    border-radius: 0;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#auth button.btn.btn-primary {
    border: 3px solid #405377;
    background-color: #405377;
}

#auth button.btn.btn-primary:hover {
    border: 3px solid #273A5E;
    background-color: #273A5E;
}

#auth button.btn.btn-outline-primary, #auth a.btn.btn-outline-primary {
    border: 3px solid #405377;
    color: #405377;
}

#auth button.btn.btn-outline-primary:hover, #auth a.btn.btn-outline-primary:hover {
    background-color: #405377;
    color: white !important;
}

#auth input {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#auth input.form-control {
    border: 0;
    border-radius: 0;
    color: #405377;
}

#auth input.form-control::placeholder {
    color: #405377;
}

#auth .input-group .input-group-prepend .input-group-text {
    background-color: #405377;
    border: 0;
    border-radius: 0;
    padding: .375rem 0.5rem;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#auth form {
    width: 33.33%;
    margin: 0 auto;
}

#auth label {
    color: #405377;
}

#auth .form-button > button, #auth .form-button > a {
    width: 100%;
}

#auth .header {
    color: #405377;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    #auth form {
        width: 100%;
    }

    #auth #btn-register {
        display: none;
    }
}

/* Puppy page */

#puppy-like{
    position: relative;
}

#puppy .user-image {
    max-width: 40px;
    max-height: 40px;
}

#puppy hr {
    border-top: 1px solid #405377;
}

#puppy .social-button {
    border: 0;
    height: 3rem;
    width: 100%;
}

#puppy a#category-link:hover {
    color: grey !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#puppy a#more-info-link:hover {
    color: #405377 !important;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#puppy a:hover {
    color: white !important;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#puppy #line a {
    background-color: #00C300;
}

#puppy #line img {
    max-width: 30px;
    max-height: 30px;
}

#puppy #fb a {
    background-color: #3B5998;
}

#puppy #fb img {
    max-width: 50px;
    max-height: 50px;
}

#puppy #mail a {
    background-color: #3498DB;
}

#puppy #mail img {
    max-width: 50px;
    max-height: 50px;
}

#puppy #call a {
    background-color: #F1C40F;
}

#puppy #call img {
    max-width: 50px;
    max-height: 50px;
}
.embed-info{
    width: 80vw;
}

@media (max-width: 1199px) {
    #puppy #line img {
        display: block;
        margin: 0.2rem auto !important;
    }

    #puppy #fb img {
        display: block;
        margin: 0.4rem auto !important;
    }

    #puppy #mail img {
        display: block;
        margin: 0.2rem auto !important;
    }

    #puppy #call img {
        display: block;
        margin: 0.2rem auto !important;
    }

    #puppy .social-button i, #puppy .social-button .empty-box {
        display: none;
    }

    #puppy .social-button .empty-box ~ div {
        margin-top: 1rem;
    }

    #puppy .social-button {
        height: 5rem;
    }

    .facebook-word {
        margin-top: 0.2rem;
        margin-left: 0.7rem;
    }

    @media (max-width: 991px) {
        #puppy-info {
            margin-top: 1rem;
            align-items: flex-start !important;
        }

        #puppy .social-button .empty-box ~ div {
            margin-top: 0.2rem;
            margin-left: 0.7rem;
        }

        .facebook-icon {
            display: none;
        }

        .facebook-word {
            margin-top: 0;
            margin-left: -1rem;
        }

        @media (max-width: 767px) {
            #puppy #line img, #puppy #fb img, #puppy #mail img, #puppy #call img {
                display: inline-block;
            }

            #puppy .social-button {
                height: 3rem;
            }

            #fb {
                margin-top: 1rem;
            }

            #call {
                margin-top: 1rem;
            }

            #puppy .social-button i {
                display: inline;
            }

            #puppy .social-button .empty-box ~ div {
                margin-top: 0;
            }

            @media (max-width: 575px) {
                #description {
                    padding: 0.75rem;
                }
            }
        }
    }
}

/* Announcement and Dashboard */

#dashboard .btn, #announcement .btn {
    border-radius: 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#dashboard .btn.btn-primary, #announcement .btn.btn-primary {
    border: 3px solid #405377;
    background-color: #405377;
}

#dashboard .btn.btn-primary:hover, #announcement .btn.btn-primary:hover {
    border: 3px solid #273A5E;
    background-color: #273A5E;
    color: white !important;
}

#dashboard .form-button > button, #announcement .form-button > button {
    width: 100%;
}

#dashboard .router-item {
    color: grey;
    cursor: pointer;
    transition: color .3s linear;
}

#dashboard .router-item:hover, #dashboard .router-item:active, #dashboard .router-item.onwork {
    color: #405377;
}

#dashboard .router-content {
    width: 100%;
    display: none;
    animation: fadein .3s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
}

@media all and (min-width: 900px) {
    #dashboard .router-title, #dashboard .router-tabs {
        float: left;
    }

    #dashboard .router-tabs {
        clear: left;
    }

    #dashboard .router-display {
        margin-left: 16rem;
    }
}

#dashboard .data-list {
    position: relative;
}

#dashboard .dashboard-img {
    width: 3rem;
}

#dashboard .data-spanner {
    position: absolute;
    padding: 1rem;
    height: 3rem;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: .8rem;
    text-align: center;
}


#dashboard .data-spanner * {
    display: inline-block;
}

#dashboard .data-box {
    animation: fadein .3s linear;
}

#dashboard .data-spanner[data-span="false"] ~ .data-box:nth-child(n+5), #dashboard .data-spanner[data-span="false"] ~ .user-box:nth-child(n+5) {
    display: none;
}

#dashboard input, #announcement input {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#dashboard input.form-control, #announcement input.form-control {
    border: 0;
    border-radius: 0;
    color: #405377;
}

#dashboard input.form-control::placeholder, #announcement input.form-control::placeholder {
    color: #405377;
}

#dashboard .input-group .input-group-prepend .input-group-text, #announcement .input-group .input-group-prepend .input-group-text {
    background-color: #405377;
    border: 0;
    border-radius: 0;
    padding: .375rem 0.5rem;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#dashboard label, #announcement label {
    color: #405377;
}

@media (max-width: 575px) {
    #dashboard form, #announcement form {
        width: 100%;
    }
}

#announcement textarea {
    font-size: 18px;
    width: 100%;
    padding: 7px 10px;
    border: none;
    resize: none;
}

#announcement textarea:focus {
    outline: none;
}

#dashboard .commit-button, #announcement .commit-button {
    display: inline-block;
    position: relative;
}

#dashboard .commit-button label, #announcement .commit-button label {
    padding: .5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
}

#dashboard .commit-button input, #announcement .commit-button input {
    display: none;
}

#dashboard .picture-uploader, #announcement .picture-uploader {
    padding-top: 1rem;
    position: relative;
}

#dashboard .picture-uploader > *, #announcement .picture-uploader > * {
    display: inline-block;
}

#dashboard .picture-uploader .profile-picture, #announcement .picture-uploader .profile-picture {
    height: 5rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(100, 100, 100);
}

#dashboard .profile-picture img, #announcement .profile-picture img {
    height: inherit;
}

#dashboard .picture-uploader .upload, #announcement .picture-uploader .upload {
    position: absolute;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#dashboard .picture-uploader .upload .commit-button, #announcement .picture-uploader .upload .commit-button {
    margin-top: .8rem;
}

#dashboard .user-box {
    position: relative;
}

#dashboard .user-box {
    margin-bottom: 1rem;
}

#dashboard .user-box > .data-box {
    margin-bottom: 0;
}

#dashboard .user-box > .other-detail-box {
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

#dashboard .other-detail-box[data-span="false"] {
    display: none;
}

#dashboard .user-box .picture, #dashboard .user-box .name-detail {
    cursor: pointer;
}

#dashboard .other-detail-box .other-profile {
    display: inline-block;
    width: 9rem;
    height: 11rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(100, 100, 100);
}

#dashboard .other-detail-box .other-information {
    float: right;
    width: calc(100% - 10rem);
    word-wrap: break-word;
}

/* Edit User */

#edit_user .btn {
    border-radius: 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#edit_user .btn.btn-primary {
    border: 3px solid #405377;
    background-color: #405377;
}

#edit_user .btn.btn-primary:hover {
    border: 3px solid #273A5E;
    background-color: #273A5E;
    color: white !important;
}

#edit_user .form-button > button {
    width: 100%;
}

#edit_user input {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#edit_user input.form-control {
    border: 0;
    border-radius: 0;
    color: #405377;
}

#edit_user input.form-control::placeholder {
    color: #405377;
}

#edit_user .input-group .input-group-prepend .input-group-text {
    background-color: #405377;
    border: 0;
    border-radius: 0;
    padding: .375rem 0.5rem;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#edit_user label {
    color: #405377;
}

@media (max-width: 575px) {
    #edit_user form {
        width: 100%;
    }
}

#edit_user .commit-button {
    display: inline-block;
    position: relative;
}

#edit_user .commit-button label {
    padding: .5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
}

#edit_user .commit-button input {
    display: none;
}

#edit_user .picture-uploader {
    padding-top: 1rem;
    position: relative;
}

#edit_user .picture-uploader > * {
    display: inline-block;
}

#edit_user .picture-uploader .profile-picture {
    height: 5rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(100, 100, 100);
}

#edit_user .profile-picture img {
    height: inherit;
}

#edit_user .picture-uploader .upload {
    position: absolute;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#edit_user .picture-uploader .upload .commit-button {
    margin-top: .8rem;
}
