/* Global */

a {
    color: #405377;
}

footer {
    background-color: #405377;
    color: white;
}

.card:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.like {
    max-width: 30px;
    max-height: 30px;
}

.like:hover {
    background-image: url("/images/likeHover.png");
    background-size: cover;
}


/* Utilities */

.box-shadow {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.no-border {
    border: 0 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.text-primary {
    color: #405377 !important;
}

.text-underline {
    text-decoration: underline;
}

/* Navigation bar */

.navbar-brand img {
    max-width: 12.5%;
}

.navbar-light a.navbar-brand {
    color: #405377;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-link.nav-link-main {
    color: #405377;
    font-weight: 700;
}

.search-icon {
    color: #405377;
    font-size: 1.25rem;
}

.search-box {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #405377;
    border-radius: 0;
}

.search-box::placeholder {
    color: #405377;
}

/* Index */

#logo {
    max-width: 150px;
    max-height: 150px;
}

#hero {
    color: #405377;
}

.hero-description {
    font-size: 1.5rem;
    font-weight: 400;
}

#catalog {
    margin: 5rem 0;
}

.catalog h1 {
    font-size: 1.75rem;
}

.catalog h2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.catalog-card a {
    text-decoration: none;
}

.catalog-card a:hover {
    color: #405377;
}

/* Category */

#category-header h1 {
    color: #405377;
}

label[for="itemsPerPage"] {
    color: #405377;
}

select[name="itemsPerPage"] {
    color: #405377;
    font-weight: 600;
    padding: 10px 50px;
}

.sorting > img {
    opacity: 0.3;
    max-width: 25%;
    height: auto;
}

.sorting h4 {
    color: #405377;
    font-size: 1rem;
    font-weight: 600;
}

.sorting div a img {
    max-width: 50%;
}

#category-filter h3 {
    color: #405377;
}

#category select::-ms-expand {
    display: none;
}

#category select {
    -webkit-appearance: none;
    appearance: none;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    -khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    border: none;
}

#category .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    padding: 10px;
    display: block;
}

.date-img {
    max-width: 30px;
}

#category input[name="date"] {
    color: #405377;
}

#category input[type=date]::-webkit-inner-spin-button,
#category input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#category .page-item.active .page-link {
    background: #405377;
    color: white !important;
    border-color: #405377;
}
