@font-face {
    font-family: Delicious;
    src: url('Delicious-Roman.otf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('Delicious-Bold.otf');
}

body {
    padding: 0px;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #405377;
}

#navbar {
    margin: 0;
}

#main {
    max-width: 73.5%;
}

#main>h1 {
    font-size: 3rem;
}

#sorting {
    font-size: 1.5rem;
    width: 100%;
}

select[name="itemsPerPage"] {
    padding: 10px 50px;
}

select#sort {
    width: 70px;
}

.sort-by-alphabet {
    background-image: url(../../../design/assets/sort-by-alphabet.png);
}

.sort-reverse-alphabetical-order {
    background-image: url(../../../design/assets/sort-reverse-alphabetical-order.png);
}

.ui-select {
    width: 100%
}

/* This is to remove the arrow of select element in IE */

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    -khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    border: none;
}

@-moz-document url-prefix() {
    .ui-select {
        border: 1px solid #CCC;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }
    .ui-select select {
        width: 110%;
        background-position: right 30px center !important;
        border: none !important;
    }
}

.sort-img {
    opacity: 0.3;
}
.shadow-without-top{
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    -khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
}

.dropdown {
    position: relative;
    display: inline-block;
    
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    padding: 10px;
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

#side {
    width: 287px;
}

/* Customize the label (the container) */

#checkbox .container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

#checkbox .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

#checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    box-shadow: 1px 2px 4px 1px #ccc;
}

/* On mouse-over, add a grey background color */

#checkbox .container:hover input~.checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */

#checkbox .container input:checked~.checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */

#checkbox .checkmark:after {
    content: "✓";
    position: absolute;
    display: none;
    font-size: 1.6rem;
}

/* Show the checkmark when checked */

#checkbox .container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

#checkbox .container .checkmark:after {
    left: 5px;
    top: -10px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
}
.date-img{
    max-width: 30px;
}
input[name="date"]{
    max-width: 130px;
    color: #405377;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#item-box{
    max-width: 1047px;
}
.card{
    border: none;
}
.card-img-top{
    max-width: 300px;
    min-height: 346px;
    object-fit: cover;
}
.like{
    max-width: 30px;
    max-height: 30px;
}
.like:hover{
    display: hidden;
    background-image: url("likeHover.png");
    background-size: cover;
}
@media only screen and (max-width: 992px){
    .card-img-top{
        max-width: none;
        min-width: 300px;
        min-height: 346px;
        object-fit: cover;
    }
    .like{
        position: static;
    }
}
a {
    color: #405377 !important;
}
.page-item.active .page-link{
    background: #405377;
    color: white !important;
    border-color:#405377; 
}
