@font-face {
    font-family: Delicious;
    src: url('Delicious-Roman.otf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('Delicious-Bold.otf');
}

body {
    padding: 0px;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #405377;
}

#navbar {
    margin: 0;
}

#main {
    max-width: 74%;
}

.opacity50 {
    opacity: 0.5;
}

.slider-container {
    width: 50%;
}
.product-name{
    font-size: 4.3750rem;
}
.like{
    max-width: 48px;
    max-height: 48px;
}
.like:hover{
    display: hidden;
    background-image: url("likeHover.png");
    background-size: cover;
}
.circle-border{
    border-radius:50%; 
}
#user-img{
    max-width: 40px;
    max-height: 40px;
}
#seller-name{
    font-size: 2rem;
}
.basic-info{
    font-size: 1.5rem;
}
hr{
    border-top:1px solid #405377; 
}

/*slide */

.product-slider {
    padding: 0px;
}

.product-slider #carousel {
    border: none;
    margin: 0;
    min-height: 400px;
}
#carousel .carousel-inner .item img{
    height: 400px;
}

.product-slider #thumbcarousel {
    margin: 12px 0 0;
    padding: 0 0;
}

.product-slider #thumbcarousel .item {
    text-align: center;
}

.product-slider #thumbcarousel .item .thumb {
    border: none;
    width: 18.5%;
    margin: 0 0.5%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    max-width: 18%;
}

.product-slider #thumbcarousel .item .thumb:hover {
    border-color: white;
}

.product-slider .item img {
    width: 100%;
    height: auto;
}

.carousel-control {
    color: white;
    text-align: center;
    text-shadow: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    top: 23%;
}

.carousel-control:hover, .carousel-control:focus, .carousel-control:active {
    color: #333;
}

.carousel-caption, .carousel-control .fa {
    font: normal normal normal 30px/26px FontAwesome;
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0);
    bottom: auto;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 30%;
    width: auto;
}

.carousel-control.right, .carousel-control.left {
    background-color:black;
    background-image: none;
}